
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #15141f;
    min-height: 100vh;
    max-width : 100vw;
    display:flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color:white;
    position: relative;
}

#root {
    width : 100vw;
    max-width : 100vw;
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 8px;  /* Adjust width as necessary */
}

::-webkit-scrollbar-track {
    background: black;  /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #444;  /* Color of the scrollbar thumb */
    border-radius: 4px;  /* Rounded corners for the scrollbar thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin;  /* Makes the scrollbar thinner */
    scrollbar-color: #444 black;  /* thumb color and track color */
}

/* For Internet Explorer and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;  /* Auto-hides scrollbar when not in use */
}