
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #15141f;
    min-height: 100vh;
    max-width : 100vw;
    display:flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    color:white;
    padding: 9vh 5vw;
}

#root {
    width : 100vw;
    
}