



.main-title {
    display:flex;
    max-width : 100vw;
    font-size: 60px;
    text-align:left;
    font-weight: 350;
    padding: 9vh 5vw;
    .color-orange{
        color: #fa674d;
    }
    @include mobile {
        font-size: 40px;
    }
}

.spotlight {
    height: 50vh;
    border-radius: 35px;
    display:flex;
    position: relative;
    background-size:cover;
    background-position: center;
    margin: 0 5vw;
    @include desktop {
        height: 60vh;
    }
    .trailer-launch {
        height: 30%;
        width:50%;
        max-width: 500px;
        min-width: 300px;
        position:absolute;
        bottom: 20px;
        left: 15px;
        display: flex;
        background-color:rgba(255,255,255,0.2);
        box-shadow: rgba(255,255,255,0.25) 0px 0px 0px 2px;
        border-radius: 35px;
        backdrop-filter: blur(6px);
        justify-content:center;
        .play-button {
            display:flex;
            justify-content:center;
            align-items:center;
            width: 30%;
            img {
                width: 60px;
                height: 60px;
                &:hover {
                    cursor: pointer;
                    transform: scale(105%);
                    transition: ease 0.4s;
                }
            }
        }
        .info {
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 70%;
            .text {
                font-size: 20px;
                color:#bdbdbd;
                @include mobile {
                    font-size: 18px;
                }
            }
            .title {
                font-size: 30px;
                @include mobile {
                    font-size: 20px;
                }
            }
        }
    }
}

.trending {
    max-width: 100%;
    box-sizing: border-box;
    overflow:hidden;
    .carousel {
        max-width: 98vw;
        box-sizing: border-box;
        display: flex;
        gap: 3vw;
        overflow-x: scroll;
        box-sizing:border-box;
        .movie-card {
            height: 350px;
            min-width: 240px;
            border-radius: 35px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            &:hover {
                transform: scale(1.05);
            }
            & > * {
                border-radius: 20px;
                background-color: rgba(255, 255, 255, 0.5);
                box-shadow: rgba(255, 255, 255, 0.45) 0px 0px 0px 2px;
            }

            .rating {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 17px;
                right: 17px;
                height: 18%;
                width: 35%;
                justify-content: center;
                align-items: center;
                font-size: 16px;

                .imdbRate {
                    font-size: 13px;
                    text-align: left;
                    width: 80%;
                    margin-bottom: 8px;
                }

                .rate {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    font-size: 25px;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
            }

            .title {
                position: absolute;
                bottom: 5%;
                width: 90%;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 1.2em;
                background-color: rgba(0, 0, 0, 0.5);
                color: white;
                border-radius: 10px;
                padding: 5px;
            }
        }
    }
}